/node_modules
/.git
/.github
/.vscode
/.env
/tests
/phpunit.xml
/npm-debug.log
/yarn-error.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
